* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 300px;
  margin: auto 0;
}

header {
  background-image: url("./icons/image_geometry_1.png");
  background-repeat: no-repeat;
  height: 4.625rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  display: none;

}
#mobile_menu {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  top: 0;
  width: 100vw;
  height: 117vh;
  background-image: url(icons/Group\ 98.png), url(icons/Mask\ Group.png), url(icons/Group\ 50.png), url(icons/Group\ 51.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top left, bottom center, top 74px right 57px, bottom 150px left 55px;
  background-size: 111px 74px, contain, 40px 40px, 40px 40px;
}

#homepage.hide,
#projects-container.hide,
#about-me-container.hide,
#contact-form.hide,
header.hide {
  display: none;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  list-style: none;
  font-family: Poppins, sans-serif, Arial;
}
.menu-bar li {
  line-height: 300%;
  font-weight: 400;
  font-size: 16px;
}
.menu-bar li a {
  text-decoration: none;
  color: #000;
  /* display: block; */
}

.menu {
  margin-right: 1.25rem;
}

#x-btn {
  position: absolute;
  top: 24px;
  right: 24px;
}

#homepage {
  margin-top: 3.5rem;
  margin-bottom: 2.3rem;
  background-image: url(icons/image_geometry_2.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.container {
  height: 21rem;
  margin: 0 1rem 0 1rem;
  min-height: calc(100vh - 1rem);
  padding-bottom: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container h1 {
  font-family: 'Playfair Display', arial, sans-serif;
  font-size: 3.125rem;
  line-height: 3.125rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.container p {
  font-family: Poppins, arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

#homepage .collaboration {
  display: block;
  height: 3.125rem;
  padding: 1rem;
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  border: none;
  background-color: #1a2236;
  color: white;
  font-family: Poppins, arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.collaboration:hover {
  opacity: 0.8;
  transition: 0.25s;
}

.collaboration:active {
  background-color: white;
  color: black;
}


#projects-container {
  display: grid;
  grid-template-rows: min-content;
  row-gap: 0;
}

#projects-container h2 {
  display: inline-block;
  margin: 0 auto 2rem 1rem;
  font-family: 'Playfair Display', arial, sans-serif;
  font-size: 3.125rem;
  font-weight: 400;
  color: #1a2236;
}

.project-card .preview {
  display: block;
  width: 100%;
  margin-top: -2px;
  margin-bottom: -2px;
}

.project-card .project-infor {
  background-color: #1a2236;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}

.project-name {
  color: white;
  font-family: Poppins, arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1rem;
}

.tech-list ul {
  margin-top: 1rem;
  display: flex;

  list-style: none;
  justify-content: space-between;
  font-family: Poppins, arial, sans-serif;
  font-size: 0.625rem;
  font-weight: 300;
}

.tech-list li {
  display: inline-block;
  background-color: #98dede;
  margin-top: 1rem;
  padding: 0.225rem 0.625rem;
  font-weight: 300;
  font-size: 0.646rem;
}

.see-project {
  color: white;
  border: 1px solid rgb(162 161 161);
  background-image: url("icons/Union.png");
  background-repeat: no-repeat;
  background-position: center right;
  width: 11.125rem;
  margin-top: 1.25rem;
  /* padding-top: 0.625rem; */
  padding-right: 0.625rem;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  line-height: 1.5rem;
  font-family: Poppins, Arial, sans-serif;
  text-align: center;
  cursor: pointer;
}

.see-project:hover {
  opacity: 0.8;
  color: white;
  transition: 0.25s;
}

.see-project:active {
  background-color: white;
  color: black;
}

#about-me-container {
  display: flex;
  flex-direction: column;
  margin: 3.5rem 0.875rem 1.688rem 1rem;
}

#about-me-container h2 {
  font-family: 'Playfair Display', arial, sans-serif;
  font-weight: 400;
  line-height: 3.125rem;
  font-size: 3.125rem;
  margin-bottom: 1.25rem;
}

#about-me-container .description {
  font-family: Poppins, arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

#about-me-container .cv-button {
  border: none;
  background-image: url("icons/ic_download.png");
  background-repeat: no-repeat;
  background-position: 75%;
  background-size: 24px 24px;
  margin-bottom: 1.688rem;
  background-color: #1a2236;
  height: 3.125rem;
  font-weight: 500;
  font-size: 1rem;
  display: block;
  width: 100%;
  padding: 0 42.41% 0 27.24%;
  color: white;
  font-family: Poppins, arial, sans-serif;
}

.knowledge-container {
  display: grid;
  grid-template-rows: min-content;
  row-gap: 1rem;
}
.knowledge-container h3 {
  font-family: Poppins, arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 1.313rem;
}

.knowledge-container ul {
  font-size: 1.125rem;
  font-weight: 600;
  list-style-position: inside;
}

.knowledge-container li span {
  position: relative;
}

.knowledge-container div {
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 18rem;
  padding: 3.125rem 3.125rem 1.125rem 3.125rem;
}

.language {
  background-color: #1c528a;
  background-image: url("icons/ic_languages_mob.svg");
  color: white;
}

.frameworks {
  background-color: #e2505c;
  background-image: url("icons/Group\ 18.png");
  color: white;
}

.skills {
  background-color: #febf52;
  background-image: url("icons/ic_skills.png");
  color: white;
}

#contact-form {
  background-color: #f9f9fa;
  background-image: url("icons/image_geometry_1.png");
  background-repeat: no-repeat;
  padding: 6.625rem 0.875rem 1.94rem 1.125rem;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 136px);
}

#contact-form h2 {
  font-family: 'Playfair Display', arial, sans-serif;
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 3.125rem;
  margin-bottom: 1.25rem;
}

#contact-form p {
  font-family: Poppins, arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 0.875rem;
}

#contact-form label {
  font-weight: 400;
  font-size: 0.625rem;
  color: #7d7c84;
  font-family: Poppins, arial, sans-serif;
}

#contact-form input,
#contact-form textarea{
  display: block;
  border-radius: 0.313rem;
  border: 0.063rem solid lightgray;
  width: 100%;
  padding-left: 0.313rem;
  font-family: Poppins, sans-serif, arial, helvetica;
  font-weight: 500;
  font-size: 0.875rem;
}

#contact-form input {
  margin-bottom: 0;
  height: 3.25rem;
}

#contact-form textarea {
  height: 7rem;
  padding: 0.75rem 0.5rem;
}

#contact-form .collaboration {
  width: 100%;
  height: 2.75rem;
  border: none;
  background-color: #1a2236;
  color: white;
  margin-top: 1.25rem;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.3s ease;
}


footer {
  background-color: #1a2236;
  padding: 1.75rem 0.875rem 2.25rem 1.125rem;
}
.get-resume {
  border: none;
  background-color: transparent;
  background-image: url("icons/Union\ \(2\).png");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 2.5rem;
  height: 1.5rem;
  color: #92dcdc;
  display: block;
  font-weight: 500;
  font-size: 1rem;
  margin: 0 auto;
  transition: all 0.3s ease;
  font-family: poppins, sans-serif, arial;
}

#footer ul {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

#footer a {
  display: flex;
  transition: all 0.3s ease;
}

